<aside role="banner">   
  <div class="card card-box text-center">
    <div class="card-body">
    {%- if site.logo -%}
      <div>
        <img class="card-img-left avatar" src="{{site.logo | relative_url}}" alt="Logo"/>
      </div>
    {%- endif -%}
      <h5 class="card-title"> {{ site.github_username }} </h5>
      <p class="card-text"> {{ site.description }} </p>
      <a href="{{ site.github.owner_url }}" class="card-link">View My GitHub Profile</a>
    </div>
  </div>
  <div class="card card-box">
    <div class="card-header aside-title">
      个人分类
    </div>
    <div class="card-body">
      <ul class="list-group">
        {%- for category  in site.categories -%}
          {%- assign size = category[1] | size -%}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ category[0] }}
            <span class="badge badge-primary badge-pill">{{ size }}</span>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
  <div class="card card-box">
    <div class="card-header aside-title">
      归档
    </div>
    <div class="card-body">
      <ul class="list-group">
        {% assign size = 0 %}
        {% for post in site.posts %}
          {% assign size = size | plus: 1 %}
          {% assign date = post.date | date: '%Y年%m月' %}
          {% assign ndate = post.previous.date | date: '%Y年%m月' %}
          {% if date != ndate %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ post.date | date: '%Y年%m月' }}
            <span class="badge badge-primary badge-pill">{{ size }}</span>
            {% assign size = 0 %}
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</aside>
