<footer class="navbar fixed-bottom navbar-light bg-light">
  <div class="row">
    <div class="col">
      <ul>
        <li style="list-style: none;">
          {%- if site.author -%}
            {{ site.author | escape }}
          {%- else -%}
            {{ site.title | escape }}
          {%- endif -%}
        </li>
        {%- if site.email -%}
        <li style="list-style: none;">
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </li>
        {%- endif -%}
      </ul>
    </div>

    <div class="col">
      {%- include social.html -%}
    </div>

    <div class="col">
      <p>{{- site.description | escape -}}</p>
    </div>
  </div>

</footer>
