@charset "utf-8";

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

.container {
  aside {
    float: left;
  }

  main {
    float: right;
  }
}

/**
 * Icons
 */
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #{$grey-color};
  vertical-align: middle;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}