---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <div class="card">
    <div class="card-header bg-transparent">
      <h2 class="card-title">{{ page.title }}</h2>
      <h6 class="card-subtitle mb-2 text-muted">
        {{ page.date | date: "%Y年%m月%d日 %H:%M:%S" }}
        <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">{{ site.github_username }}</a>
        <span>
          分类：
        {%- for category in page.categories -%}
          <span class="badge badge-secondary">{{ category }}</span>
        {%- endfor -%}
        </span>
      </h6>
    </div>
    <div class="card-body">
      <p class="card-text">{{ content }}</p>
    </div>
    <div class="card-footer text-muted bg-transparent">
      {%- if site.disqus.shortname -%}
        {%- include disqus_comments.html -%}
      {%- endif -%}
      <span>
          标签：
      {%- for tag in page.tags -%}
        <span class="badge badge-secondary">{{ tag }}</span>
      {%- endfor -%}
      </span>
      <a href="{{ page.url | relative_url }}" class="card-link" hidden></a>
    </div>
  </div>
</article>
